<body id="root">
    <form class="edit-form">
        {{#each fields}}
        <div class="inputEdit">
            {{#if fieldInput}}
            <{{fieldTag}} type="{{fieldType}}" class="{{fieldClass}}" placeholder="{{fieldPlaceholder}}" value="{{fieldValue}}"></{{fieldTag}}>
            {{else}}
            <{{fieldTag}} type="{{fieldType}}" class="{{fieldClass}}" placeholder="{{fieldPlaceholder}}">{{fieldValue}}</{{fieldTag}}>
            {{/if}}
        </div>
        {{/each}}
        <div class="tag-container">
            <div class="column-container">
                <span class="tags-header">Tags</span>
                <div class="center-container">
                    {{#each tags}}
                    <label class="checkbox-btn">
                        {{#if tagActive}}
                        <input type="checkbox" class="tag-checkbox" checked>
                        {{else}}
                        <input type="checkbox" class="tag-checkbox">
                        {{/if}}
                        <span>{{tagText}}</span>
                    </label>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="inputEdit">
            <div class="im-container">
                <div style="position: relative;">
                    <img src="../img/Elon_Musk_2015.jpg" class="im">
                    <button type="button" class="removeImg"></button>
                </div>
                <div style="position: relative;">
                    <img src="../img/Elon_Musk_2015.jpg" class="im">
                    <button type="button" class="removeImg"></button>
                </div>
                <div style="position: relative;">
                    <img src="../img/Elon_Musk_2015.jpg" class="im">
                    <button type="button" class="removeImg"></button>
                </div>
            </div>
            <button type="button" class="add"></button>
        </div>
        <button type="submit" class="login-button">
            <div class="center-container">
                <span class="edit-button-text">Сохранить</span>
            </div>
        </button>
    </form>
</body>