<div id="cardMainID" class="card-main-expand">
            <img src="{{card.img}}" class="card-el profile-image-expand" />
            <div class="name-container">
                <div class="name">{{card.name}}</div>
                <div class="age">{{card.age}}</div>
            </div>
            <div class="card-el bord"></div>
            <div class="card-el desc">{{card.description}}</div>
            <div class="card-el bord"></div>
            <div id="tagsID" class="card-el tags-container">
                {{#each card.tags}}
                <div class="tag">{{this}}</div>
                {{/each}}
            </div>
        </div>
        <div class="actions-container">
            {{#each actions}}
            <button class="menu-icon">
                <img
                src="{{actionIcon}}"
                class="{{actionClass}}"
                />
            </button>
            {{/each}}
        </div>
</div>
    