<div class="card-container">
    <div id="cardID" class="card-expand">
        <div id="cardMainID" class="card-main-profile">
            <img src="{{user.photoSrc}}"
                class="card-el profile-image-expand" />
            <div class="name-container">
                <div class="name">{{user.firstName}}</div>
                <div class="age">{{user.age}}</div>
            </div>
            <div class="card-el bord"></div>
            <div class="card-el desc">{{user.text}}</div>
            <div class="card-el bord"></div>
            <div id="tagsID" class="card-el tags-container">
                {{#each user.tags}}
                <button class="tag">{{this}}</button>
                {{/each}}
            </div>
        </div>
        <div id="editID" class="actions-container-profile">
            {{#each actions}}
            <button class="menu-icon">
            <img
                    src="{{icon}}" class="{{className}}"
            />
            </button>
            {{/each}}
        </div>
    </div>
</div>